:root {
  --primary: #0a5cff;
  --secondary: #ff7a00;
  --bg: #f5f7fa;
  --card: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
}

/* Navbar */
.navbar {
  background: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.navbar .logo {
  color: var(--primary);
}

.navbar nav a {
  color: #333;
  font-weight: 500;
}


/* Hero */
.hero {
  padding: 80px 20px;
  background: linear-gradient(135deg, #0a5cff, #2e8bff);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}


.search-box {
  background: white;
  display: inline-flex;
  padding: 10px;
  border-radius: 12px;
  margin-top: 30px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 16px;
}

.search-box button {
  background: var(--secondary);
}


/* Produk */
.products {
  padding: 40px;
}

.card-container { 
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  background: var(--card);
  padding: 20px;
  border-radius: 16px;
  width: 260px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}


.card button {
  margin-top: 12px;
  padding: 12px;
  width: 100%;
  border: none;
  background: var(--primary);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: var(--secondary);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #eee;
  margin-top: 40px;
}
/*btn*/
button {
  cursor: pointer;
  font-weight: bold;
}
